<ion-view view-title="Browse Music">
  <ion-content>
    <h1></h1>
    <div class="row">
    	<div class="col source-icon" >
    		<a href="#/app/browse_options"><img src="img/soundcloud-icon.png" ></img></a>
    	</div>
    	<div class="col source-icon">
	    	<a href="#/app/browse_options"><img src="img/spotify-icon.png"></img></a>
	    </div>
    </div>
    <div class="row">
    	<div class="col source-icon">
    		<h5>Soundcloud</h5>
    	</div>
    	<div class="col source-icon">
	    	<h5>Spotify</h5>
	    </div>
    </div>
  </ion-content>
</ion-view>
